.chat-main {
  background-color: $basic-color;
  height: 100vh;
  width: calc(100vw - 300px);
  
  &__group-info {
    background-color: $basic-color;
    height: 100px;
    display: flex;
    justify-content: space-between;
    &__box {
      &__group-name {
        color: #333333;
        font-size: 20px;
        margin: 35px 0 0 40px;
      }
      &__member-name {
        color: #999999;
        font-size: 12px;
        margin: 15px 0 0 40px;
      }
    }

    &__btn {
      height: 40px;
      width: 72px;
      margin: 28px 40px 0 0;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      line-height: 40px;
      border: solid 1px $link-color;
      a {
        height: 40px;
        width: 72px;
        display: block;
        color: #38aef0;
        text-decoration: none;
      }
    }  
  }
  
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    overflow: scroll;
    &__a__box {
      display: flex;
      padding-top: 35px;
      margin-left: 40px;

      &__name { 
        color: #333333;
        font-size:16px;
        margin-right: 10px;
      }
      &__date {
        color: #999999;
        font-size: 12px;
      }
    }

    &__a__text {
      margin: 12px 0 0 40px;
      &__content {
        color: #434a54;
        font-size: 14px;
      }
    }
    &__a__text__image {
      height: 200px;
      width: 200px;
    }
  }
  
  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
    align-items: center;
    &__box {
      height: 50px;
      width: 100vw;
      padding: 0 0 0 40px;

    .new_message {
      display: flex;
    } 
    

    .input-box {
      height: 50px;
      position: relative;
      
      &__text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }

      &__image {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      &__image__file {
        display: none;
      }
    }

    .submit-btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-right: 40px;
      margin-left: 15px;
      background-color: $link-color;
      color: $basic-color;
     }
   }
  }
}